.card-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  margin-right: 0 !important;
}

.button-login {
  margin: 10px 9px 0px 0px !important;
}

.action-button-login {
  display: flex;
  margin: 10px 9px 0px 0px !important;
  justify-content: flex-end;
}

.container-login {
  margin-top: 15% !important;
}
